<section>
  <h1>联系方式</h1>
  <pre style="color:YellowGreen;font-family:Verdana;">
地址：
  115 Torbay Rd., Unit B5
  Markham, ON, L3R2M9
<a style="position:relative; top:0; left:0; z-index:1;" href="http://maps.google.com/maps?f=q&amp;hl=en&amp;geocode=&amp;q=115+Torbay+Road,+Markham,+ON+L3R2M9,+Canada&amp;ie=UTF8&amp;ll=43.817653,-79.344356&amp;spn=0.011596,0.017939&amp;t=m&amp;z=15&amp;iwloc=addr&amp;om=1" target="_blank">
<img style="border-width:1px; border-color:YellowGreen; width:230px; height:150px; z-index:-1;" src="http://maps.googleapis.com/maps/api/staticmap?center=43.816236,-79.346974&zoom=14&size=230x150&maptype=roadmap&markers=color:blue%7Clabel:A%7C43.818265,-79.345901&sensor=false&scale=" />
</a>
电话：
  Tel: 416-816-9929/416-900-0159
  Fax: 905-479-6610
Email:
  info@happyroad.ca
  happyroad998@hotmail.com
  </pre>
</section>
